<div id="comment_list">
  <h3>Comments</h3>
  <% @article.comment.each do |c| %>
      <div class="comment_author">
        <%= c.commenter %>
      </div>
      <div class="comment_body">
        <%= c.comment_text %>
      </div>
  <% end %>
</div>
