<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3><%= link_to @article.title, article_url(@article) %></h3>
  <p>
    <%= @comment.comment_text %>
  </p>
</body>
</html>
