<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h4><%= link_to @article.title, article_url(@article) %></h4>
  <p>
    <strong>@comment.title</strong>
  </p>
  <p>
    <%= @comment.comment_text %>
  </p>
</body>
</html>
