@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  resize: none;
}

#content-editor {
  height: 400px;
}

#comment-editor {
  height: 100px;
}

.article-section {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.comments-section {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 970px;
}

.article-title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article-body {
  font-size: 18px;
  line-height: 1.5;
}

.comment-author{
  font-weight: bold;
}

.comments-section {
  margin-top: 30px;
}
